
.intro {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family:  sans-serif;
}
.metas {
    color:gray ;
    text-align: center;
    font-family: sans-serif;

}
.n1 {
    color: rgb(38, 38, 104);
    text-align: left;
    font-family: sans-serif;
}
.n2 {
    color: rgb(38, 38, 104);
    text-align: left;
    font-family: sans-serif;
}
.n3 {
    color: rgb(38, 38, 104);
    text-align: left;
    font-family: sans-serif;
}